src/main/mule/implementations/get-covid-reports.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\reports:uhub-sapi-config">
	<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationId" doc:id="ef8aa010-b859-4c6e-9359-fa0ebe7410ce" variableName="correlationId" />
		<logger level="INFO" doc:name="Start Log" doc:id="9b6a0255-db69-4f04-8ef2-8f8f39f3bd29" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationID], message: "Started get reports flow"' />
		
        <ee:transform doc:name="Prepare Dynamic Query" doc:id="b2d5cc6b-cf2e-4945-bf2f-0d594408d21e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="reportsDynamicQuery" ><![CDATA[if(!isEmpty(attributes.queryParams.state)) (
	"select count(*) as count, case_type, state from cvd_case_master where state = '" ++ upper(attributes.queryParams.state) ++ "' group by case_type, state"
) else (
	"select count(*) as count, case_type, state from cvd_case_master group by case_type, state"
) ]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="fetch-case-reports-sub-flow" doc:id="124ce6fc-c1d7-4129-8d5f-f31614404dc6" name="fetch-case-reports-sub-flow"/>
		<ee:transform doc:name="Transform Message" doc:id="f3e30e7c-ed65-4aa9-9bf2-0a9d47974436">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
fun vaccinatedByState(state) = (payload filter(($.STATE == state as String) and ($.CASE_TYPE == "vaccinated")) map {
	COUNT: $.COUNT
})[0]
---
((payload groupBy($.STATE) mapObject {
	caseReports: {
		state: $$,
		reports: {
			total: ($.COUNT reduce $ + $$) - (vaccinatedByState($$).COUNT as Number default 0),
			($ orderBy($.CASE_TYPE) map {
				($.CASE_TYPE): $.COUNT
			})
		}
	}
}).*caseReports) default []]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e7bc84a7-679c-48b8-938a-8f61dbe20222" message="#[payload]"/>
    </flow>
	</mule>
